<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="staff.css">

    <title>staff</title>
</head>

<body>
    <div class="list-container">
        <div class="shop-card" href="">
            <div class="shop-card-head">
                <div class="account-head">
                    <img src="img/staff_1.png" alt="" class="account-thumb">
                </div>
                <div class="account-head-detail">
                    <p>名前 : ASAMI<p>
                            <p>店舗名 :<br>
                                BEAUTY&YOUTH<br>
                                天神ソラリアプラザ店
                            </p>
                </div>
            </div>
            <div class="shop-card-body">
                <p class="shop-card-text">カジュアルな中でも女性らいしいスタイリングが得意です。<br>
                    温泉が好きでよく旅行に行きます！

                </p>
            </div>
            <div class="btn-area">
                <input type="submit" value="シフトを確認する" class="btn shift">
            </div>
        </div>
    </div>

</body>

</html>